.text-3xs {
  font-size: 1rem;
  line-height: 150%;
}

.text-2xs {
  font-size: 1.1rem;
  line-height: 150%;
}

.text-xs {
  font-size: 1.2rem;
  line-height: 150%;
}

.text-s {
  font-size: 1.4rem;
  line-height: 150%;
}

.text-m {
  font-size: 1.6rem;
  line-height: 150%;
}

.text-l {
  font-size: 2.4rem;
  line-height: 140%;
}

.text-xl {
  font-size: 3rem;
  line-height: 130%;
}

.text-2xl {
  font-size: 4rem;
  line-height: 130%;
}

.text-3xl {
  font-size: 8rem;
  line-height: 130%;
}

.text-inherit {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.font-heading {
  font-family: var(--font-heading), sans-serif;
}

.font-body {
  font-family: var(--font-body), sans-serif;
}

.font-sans {
  font-family: var(--font-sans), sans-serif;
}

.font-serif {
  font-family: var(--font-serif), serif;
}

.font-mono {
  font-family: var(--font-mono), monospace;
}
