.abs {
  position: absolute;
}

.tl {
  bottom: unset;
  left: 0;
  margin: 0;
  right: unset;
  top: 0;
  position: absolute;
}

.tc {
  bottom: unset;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
  position: absolute;
}

.tr {
  bottom: unset;
  left: unset;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.cl {
  bottom: 0;
  left: 0;
  margin: auto 0;
  right: unset;
  top: 0;
  position: absolute;
}

.cc {
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  position: absolute;
}

.cr {
  bottom: 0;
  left: unset;
  margin: auto 0;
  right: 0;
  top: 0;
  position: absolute;
}

.bl {
  bottom: 0;
  left: 0;
  margin: 0;
  right: unset;
  top: unset;
  position: absolute;
}

.bc {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: unset;
  position: absolute;
}

.br {
  bottom: 0;
  left: unset;
  margin: 0;
  right: 0;
  top: unset;
  position: absolute;
}
