.tl {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.tc {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0 auto;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.tr {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}

.cl {
  position: absolute;

  &:not([class*='m-']) {
    margin: auto 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.cc {
  position: absolute;

  &:not([class*='m-']) {
    margin: auto;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.cr {
  position: absolute;

  &:not([class*='m-']) {
    margin: auto 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}

.bl {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.bc {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0 auto;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.br {
  position: absolute;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}
