.ftl {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.ftc {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0 auto;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.ftr {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: unset;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}

.fcl {
  position: fixed;

  &:not([class*='m-']) {
    margin: auto 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.fcc {
  position: fixed;

  &:not([class*='m-']) {
    margin: auto;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.fcr {
  position: fixed;

  &:not([class*='m-']) {
    margin: auto 0;
  }

  &:not([class*='t-']) {
    top: 0;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}

.fbl {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: unset;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.fbc {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0 auto;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: 0;
  }
}

.fbr {
  position: fixed;

  &:not([class*='m-']) {
    margin: 0;
  }

  &:not([class*='t-']) {
    top: unset;
  }

  &:not([class*='r-']) {
    right: 0;
  }

  &:not([class*='b-']) {
    bottom: 0;
  }

  &:not([class*='l-']) {
    left: unset;
  }
}
