.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.mask {
  mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
  overflow: hidden;
}

.clipped {
  overflow: hidden;
}

.unclipped {
  overflow: visible;
}
