.pointable {
  pointer-events: auto;
}

.unpointable {
  pointer-events: none;
}

.scroll-x {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */

  /* Chrome/Safari/Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
