.pointable {
  pointer-events: auto;
}

.unpointable {
  pointer-events: none;
}

.scroll-x {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}

.scroll-y {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.no-scrollbar {

  /* IE/Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {

  /* Chrome/Safari/Opera */
  display: none;
}
