.origin-tl {
  transform-origin: top left;
}

.origin-tc {
  transform-origin: top center;
}

.origin-tr {
  transform-origin: top right;
}

.origin-cl {
  transform-origin: center left;
}

.origin-cc {
  transform-origin: center;
}

.origin-cr {
  transform-origin: center right;
}

.origin-bl {
  transform-origin: bottom left;
}

.origin-bc {
  transform-origin: bottom center;
}

.origin-br {
  transform-origin: bottom right;
}

.no-backface {
  backface-visibility: hidden;
}

.pp-0 {
  perspective: 0;
}

.pp-10 {
  perspective: 10rem;
}

.pp-20 {
  perspective: 20rem;
}

.pp-30 {
  perspective: 30rem;
}

.pp-40 {
  perspective: 40rem;
}

.pp-50 {
  perspective: 50rem;
}

.pp-60 {
  perspective: 60rem;
}

.pp-70 {
  perspective: 70rem;
}

.pp-80 {
  perspective: 80rem;
}

.pp-90 {
  perspective: 90rem;
}

.pp-100 {
  perspective: 100rem;
}
