.fhtl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhtc {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhtr {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhts {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhcl {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhcr {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhcs {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhbl {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhbc {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhbr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhbs {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhsl {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhsc {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhsr {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fhss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.frhtl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhtc {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhtr {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhts {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhcl {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhcr {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhcs {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhbl {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhbc {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhbr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhbs {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhsl {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhsc {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhsr {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.frhss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.fvtl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvtc {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvtr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvts {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvcl {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvcr {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvcs {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvbl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvbc {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvbr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvbs {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvsl {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvsc {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvsr {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fvss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.frvtl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvtc {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvtr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvts {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvcl {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvcr {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvcs {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvbl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvbc {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvbr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvbs {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvsl {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvsc {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvsr {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.frvss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifhtl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhtc {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhtr {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhts {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhcl {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhcr {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhcs {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhbl {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhbc {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhbr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhbs {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhsl {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhsc {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhsr {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifhss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ifrhtl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhtc {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhtr {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhts {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhcl {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhcr {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhcs {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhbl {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhbc {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhbr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhbs {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhsl {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhsc {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhsr {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifrhss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.ifvtl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvtc {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvtr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvts {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvcl {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvcr {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvcs {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvbl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvbc {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvbr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvbs {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvsl {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvsc {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvsr {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifvss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifrvtl {
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvtc {
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvtr {
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvts {
  align-items: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvcl {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvcc {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvcr {
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvcs {
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvbl {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvbc {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvbr {
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvbs {
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvsl {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvsc {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvsr {
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.ifrvss {
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}
