.anim {
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: linear;
}

.no-anim {
  animation-name: none;
}

.running {
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

.infinite {
  animation-iteration-count: infinite;
}

.forwards {
  animation-fill-mode: forwards;
}

.backwards {
  animation-fill-mode: backwards;
}

.alternate {
  animation-direction: alternate;
}

.alternate-reverse {
  animation-direction: alternate-reverse;
}

.reverse {
  animation-direction: reverse;
}

.duration-0 {
  animation-duration: 0ms;
}

.duration-100 {
  animation-duration: 100ms;
}

.duration-200 {
  animation-duration: 200ms;
}

.duration-300 {
  animation-duration: 300ms;
}

.duration-400 {
  animation-duration: 400ms;
}

.duration-500 {
  animation-duration: 500ms;
}

.duration-600 {
  animation-duration: 600ms;
}

.duration-700 {
  animation-duration: 700ms;
}

.duration-800 {
  animation-duration: 800ms;
}

.duration-900 {
  animation-duration: 900ms;
}

.duration-1000 {
  animation-duration: 1000ms;
}

.delay-0 {
  animation-delay: 0ms;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-600 {
  animation-delay: 600ms;
}

.delay-700 {
  animation-delay: 700ms;
}

.delay-800 {
  animation-delay: 800ms;
}

.delay-900 {
  animation-delay: 900ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}

.ease-in {
  animation-timing-function: ease-in;
}

.ease-out {
  animation-timing-function: ease-out;
}

.ease-in-out {
  animation-timing-function: ease-in-out;
}

.linear {
  animation-timing-function: linear;
}
