[class~='t-unset'] {
  top: unset;
}

[class~='t-0'] {
  top: 0;
}

[class~='t-1/10'] {
  top: 10%;
}

[class~='t-3/10'] {
  top: 30%;
}

[class~='t-1/2'] {
  top: 50%;
}

[class~='t-7/10'] {
  top: 70%;
}

[class~='t-9/10'] {
  top: 90%;
}

[class~='t-1/4'] {
  top: 25%;
}

[class~='t-3/4'] {
  top: 75%;
}

[class~='t-1/3'] {
  top: 33.333333%;
}

[class~='t-2/3'] {
  top: 66.666666%;
}

[class~='t-1/5'] {
  top: 20%;
}

[class~='t-2/5'] {
  top: 40%;
}

[class~='t-3/5'] {
  top: 60%;
}

[class~='t-4/5'] {
  top: 80%;
}

[class~='t-max'] {
  top: 100%;
}

[class~='t-1px'] {
  top: 1px;
}

[class~='t-2px'] {
  top: 2px;
}

[class~='t-3px'] {
  top: 3px;
}

[class~='t-4px'] {
  top: 4px;
}

[class~='t-5px'] {
  top: 5px;
}

[class~='t-6px'] {
  top: 6px;
}

[class~='t-1'] {
  top: 1rem;
}

[class~='t-2'] {
  top: 2rem;
}

[class~='t-3'] {
  top: 3rem;
}

[class~='t-4'] {
  top: 4rem;
}

[class~='t-5'] {
  top: 5rem;
}

[class~='t-6'] {
  top: 6rem;
}

[class~='safe:t-0'] {
  top: 0;
  top: max(0%, env(safe-area-inset-top));
}

[class~='safe:t-1/10'] {
  top: 10%;
  top: max(10%, env(safe-area-inset-top));
}

[class~='safe:t-3/10'] {
  top: 30%;
  top: max(30%, env(safe-area-inset-top));
}

[class~='safe:t-1/2'] {
  top: 50%;
  top: max(50%, env(safe-area-inset-top));
}

[class~='safe:t-7/10'] {
  top: 70%;
  top: max(70%, env(safe-area-inset-top));
}

[class~='safe:t-9/10'] {
  top: 90%;
  top: max(90%, env(safe-area-inset-top));
}

[class~='safe:t-1/4'] {
  top: 25%;
  top: max(25%, env(safe-area-inset-top));
}

[class~='safe:t-3/4'] {
  top: 75%;
  top: max(75%, env(safe-area-inset-top));
}

[class~='safe:t-1/3'] {
  top: 33.333333%;
  top: max(33.333333%, env(safe-area-inset-top));
}

[class~='safe:t-2/3'] {
  top: 66.666666%;
  top: max(66.666666%, env(safe-area-inset-top));
}

[class~='safe:t-1/5'] {
  top: 20%;
  top: max(20%, env(safe-area-inset-top));
}

[class~='safe:t-2/5'] {
  top: 40%;
  top: max(40%, env(safe-area-inset-top));
}

[class~='safe:t-3/5'] {
  top: 60%;
  top: max(60%, env(safe-area-inset-top));
}

[class~='safe:t-4/5'] {
  top: 80%;
  top: max(80%, env(safe-area-inset-top));
}

[class~='safe:t-max'] {
  top: 100%;
  top: max(100%, env(safe-area-inset-top));
}

[class~='safe:t-1px'] {
  top: 1px;
  top: max(1px, env(safe-area-inset-top));
}

[class~='safe:t-2px'] {
  top: 2px;
  top: max(2px, env(safe-area-inset-top));
}

[class~='safe:t-3px'] {
  top: 3px;
  top: max(3px, env(safe-area-inset-top));
}

[class~='safe:t-4px'] {
  top: 4px;
  top: max(4px, env(safe-area-inset-top));
}

[class~='safe:t-5px'] {
  top: 5px;
  top: max(5px, env(safe-area-inset-top));
}

[class~='safe:t-6px'] {
  top: 6px;
  top: max(6px, env(safe-area-inset-top));
}

[class~='safe:t-1'] {
  top: 1rem;
  top: max(1rem, env(safe-area-inset-top));
}

[class~='safe:t-2'] {
  top: 2rem;
  top: max(2rem, env(safe-area-inset-top));
}

[class~='safe:t-3'] {
  top: 3rem;
  top: max(3rem, env(safe-area-inset-top));
}

[class~='safe:t-4'] {
  top: 4rem;
  top: max(4rem, env(safe-area-inset-top));
}

[class~='safe:t-5'] {
  top: 5rem;
  top: max(5rem, env(safe-area-inset-top));
}

[class~='safe:t-6'] {
  top: 6rem;
  top: max(6rem, env(safe-area-inset-top));
}

[class~='r-unset'] {
  right: unset;
}

[class~='r-0'] {
  right: 0;
}

[class~='r-1/10'] {
  right: 10%;
}

[class~='r-3/10'] {
  right: 30%;
}

[class~='r-1/2'] {
  right: 50%;
}

[class~='r-7/10'] {
  right: 70%;
}

[class~='r-9/10'] {
  right: 90%;
}

[class~='r-1/4'] {
  right: 25%;
}

[class~='r-3/4'] {
  right: 75%;
}

[class~='r-1/3'] {
  right: 33.333333%;
}

[class~='r-2/3'] {
  right: 66.666666%;
}

[class~='r-1/5'] {
  right: 20%;
}

[class~='r-2/5'] {
  right: 40%;
}

[class~='r-3/5'] {
  right: 60%;
}

[class~='r-4/5'] {
  right: 80%;
}

[class~='r-max'] {
  right: 100%;
}

[class~='r-1px'] {
  right: 1px;
}

[class~='r-2px'] {
  right: 2px;
}

[class~='r-3px'] {
  right: 3px;
}

[class~='r-4px'] {
  right: 4px;
}

[class~='r-5px'] {
  right: 5px;
}

[class~='r-6px'] {
  right: 6px;
}

[class~='r-1'] {
  right: 1rem;
}

[class~='r-2'] {
  right: 2rem;
}

[class~='r-3'] {
  right: 3rem;
}

[class~='r-4'] {
  right: 4rem;
}

[class~='r-5'] {
  right: 5rem;
}

[class~='r-6'] {
  right: 6rem;
}

[class~='safe:r-0'] {
  right: 0;
  right: max(0%, env(safe-area-inset-right));
}

[class~='safe:r-1/10'] {
  right: 10%;
  right: max(10%, env(safe-area-inset-right));
}

[class~='safe:r-3/10'] {
  right: 30%;
  right: max(30%, env(safe-area-inset-right));
}

[class~='safe:r-1/2'] {
  right: 50%;
  right: max(50%, env(safe-area-inset-right));
}

[class~='safe:r-7/10'] {
  right: 70%;
  right: max(70%, env(safe-area-inset-right));
}

[class~='safe:r-9/10'] {
  right: 90%;
  right: max(90%, env(safe-area-inset-right));
}

[class~='safe:r-1/4'] {
  right: 25%;
  right: max(25%, env(safe-area-inset-right));
}

[class~='safe:r-3/4'] {
  right: 75%;
  right: max(75%, env(safe-area-inset-right));
}

[class~='safe:r-1/3'] {
  right: 33.333333%;
  right: max(33.333333%, env(safe-area-inset-right));
}

[class~='safe:r-2/3'] {
  right: 66.666666%;
  right: max(66.666666%, env(safe-area-inset-right));
}

[class~='safe:r-1/5'] {
  right: 20%;
  right: max(20%, env(safe-area-inset-right));
}

[class~='safe:r-2/5'] {
  right: 40%;
  right: max(40%, env(safe-area-inset-right));
}

[class~='safe:r-3/5'] {
  right: 60%;
  right: max(60%, env(safe-area-inset-right));
}

[class~='safe:r-4/5'] {
  right: 80%;
  right: max(80%, env(safe-area-inset-right));
}

[class~='safe:r-max'] {
  right: 100%;
  right: max(100%, env(safe-area-inset-right));
}

[class~='safe:r-1px'] {
  right: 1px;
  right: max(1px, env(safe-area-inset-right));
}

[class~='safe:r-2px'] {
  right: 2px;
  right: max(2px, env(safe-area-inset-right));
}

[class~='safe:r-3px'] {
  right: 3px;
  right: max(3px, env(safe-area-inset-right));
}

[class~='safe:r-4px'] {
  right: 4px;
  right: max(4px, env(safe-area-inset-right));
}

[class~='safe:r-5px'] {
  right: 5px;
  right: max(5px, env(safe-area-inset-right));
}

[class~='safe:r-6px'] {
  right: 6px;
  right: max(6px, env(safe-area-inset-right));
}

[class~='safe:r-1'] {
  right: 1rem;
  right: max(1rem, env(safe-area-inset-right));
}

[class~='safe:r-2'] {
  right: 2rem;
  right: max(2rem, env(safe-area-inset-right));
}

[class~='safe:r-3'] {
  right: 3rem;
  right: max(3rem, env(safe-area-inset-right));
}

[class~='safe:r-4'] {
  right: 4rem;
  right: max(4rem, env(safe-area-inset-right));
}

[class~='safe:r-5'] {
  right: 5rem;
  right: max(5rem, env(safe-area-inset-right));
}

[class~='safe:r-6'] {
  right: 6rem;
  right: max(6rem, env(safe-area-inset-right));
}

[class~='b-unset'] {
  bottom: unset;
}

[class~='b-0'] {
  bottom: 0;
}

[class~='b-1/10'] {
  bottom: 10%;
}

[class~='b-3/10'] {
  bottom: 30%;
}

[class~='b-1/2'] {
  bottom: 50%;
}

[class~='b-7/10'] {
  bottom: 70%;
}

[class~='b-9/10'] {
  bottom: 90%;
}

[class~='b-1/4'] {
  bottom: 25%;
}

[class~='b-3/4'] {
  bottom: 75%;
}

[class~='b-1/3'] {
  bottom: 33.333333%;
}

[class~='b-2/3'] {
  bottom: 66.666666%;
}

[class~='b-1/5'] {
  bottom: 20%;
}

[class~='b-2/5'] {
  bottom: 40%;
}

[class~='b-3/5'] {
  bottom: 60%;
}

[class~='b-4/5'] {
  bottom: 80%;
}

[class~='b-max'] {
  bottom: 100%;
}

[class~='b-1px'] {
  bottom: 1px;
}

[class~='b-2px'] {
  bottom: 2px;
}

[class~='b-3px'] {
  bottom: 3px;
}

[class~='b-4px'] {
  bottom: 4px;
}

[class~='b-5px'] {
  bottom: 5px;
}

[class~='b-6px'] {
  bottom: 6px;
}

[class~='b-1'] {
  bottom: 1rem;
}

[class~='b-2'] {
  bottom: 2rem;
}

[class~='b-3'] {
  bottom: 3rem;
}

[class~='b-4'] {
  bottom: 4rem;
}

[class~='b-5'] {
  bottom: 5rem;
}

[class~='b-6'] {
  bottom: 6rem;
}

[class~='safe:b-0'] {
  bottom: 0;
  bottom: max(0%, env(safe-area-inset-bottom));
}

[class~='safe:b-1/10'] {
  bottom: 10%;
  bottom: max(10%, env(safe-area-inset-bottom));
}

[class~='safe:b-3/10'] {
  bottom: 30%;
  bottom: max(30%, env(safe-area-inset-bottom));
}

[class~='safe:b-1/2'] {
  bottom: 50%;
  bottom: max(50%, env(safe-area-inset-bottom));
}

[class~='safe:b-7/10'] {
  bottom: 70%;
  bottom: max(70%, env(safe-area-inset-bottom));
}

[class~='safe:b-9/10'] {
  bottom: 90%;
  bottom: max(90%, env(safe-area-inset-bottom));
}

[class~='safe:b-1/4'] {
  bottom: 25%;
  bottom: max(25%, env(safe-area-inset-bottom));
}

[class~='safe:b-3/4'] {
  bottom: 75%;
  bottom: max(75%, env(safe-area-inset-bottom));
}

[class~='safe:b-1/3'] {
  bottom: 33.333333%;
  bottom: max(33.333333%, env(safe-area-inset-bottom));
}

[class~='safe:b-2/3'] {
  bottom: 66.666666%;
  bottom: max(66.666666%, env(safe-area-inset-bottom));
}

[class~='safe:b-1/5'] {
  bottom: 20%;
  bottom: max(20%, env(safe-area-inset-bottom));
}

[class~='safe:b-2/5'] {
  bottom: 40%;
  bottom: max(40%, env(safe-area-inset-bottom));
}

[class~='safe:b-3/5'] {
  bottom: 60%;
  bottom: max(60%, env(safe-area-inset-bottom));
}

[class~='safe:b-4/5'] {
  bottom: 80%;
  bottom: max(80%, env(safe-area-inset-bottom));
}

[class~='safe:b-max'] {
  bottom: 100%;
  bottom: max(100%, env(safe-area-inset-bottom));
}

[class~='safe:b-1px'] {
  bottom: 1px;
  bottom: max(1px, env(safe-area-inset-bottom));
}

[class~='safe:b-2px'] {
  bottom: 2px;
  bottom: max(2px, env(safe-area-inset-bottom));
}

[class~='safe:b-3px'] {
  bottom: 3px;
  bottom: max(3px, env(safe-area-inset-bottom));
}

[class~='safe:b-4px'] {
  bottom: 4px;
  bottom: max(4px, env(safe-area-inset-bottom));
}

[class~='safe:b-5px'] {
  bottom: 5px;
  bottom: max(5px, env(safe-area-inset-bottom));
}

[class~='safe:b-6px'] {
  bottom: 6px;
  bottom: max(6px, env(safe-area-inset-bottom));
}

[class~='safe:b-1'] {
  bottom: 1rem;
  bottom: max(1rem, env(safe-area-inset-bottom));
}

[class~='safe:b-2'] {
  bottom: 2rem;
  bottom: max(2rem, env(safe-area-inset-bottom));
}

[class~='safe:b-3'] {
  bottom: 3rem;
  bottom: max(3rem, env(safe-area-inset-bottom));
}

[class~='safe:b-4'] {
  bottom: 4rem;
  bottom: max(4rem, env(safe-area-inset-bottom));
}

[class~='safe:b-5'] {
  bottom: 5rem;
  bottom: max(5rem, env(safe-area-inset-bottom));
}

[class~='safe:b-6'] {
  bottom: 6rem;
  bottom: max(6rem, env(safe-area-inset-bottom));
}

[class~='l-unset'] {
  left: unset;
}

[class~='l-0'] {
  left: 0;
}

[class~='l-1/10'] {
  left: 10%;
}

[class~='l-3/10'] {
  left: 30%;
}

[class~='l-1/2'] {
  left: 50%;
}

[class~='l-7/10'] {
  left: 70%;
}

[class~='l-9/10'] {
  left: 90%;
}

[class~='l-1/4'] {
  left: 25%;
}

[class~='l-3/4'] {
  left: 75%;
}

[class~='l-1/3'] {
  left: 33.333333%;
}

[class~='l-2/3'] {
  left: 66.666666%;
}

[class~='l-1/5'] {
  left: 20%;
}

[class~='l-2/5'] {
  left: 40%;
}

[class~='l-3/5'] {
  left: 60%;
}

[class~='l-4/5'] {
  left: 80%;
}

[class~='l-max'] {
  left: 100%;
}

[class~='l-1px'] {
  left: 1px;
}

[class~='l-2px'] {
  left: 2px;
}

[class~='l-3px'] {
  left: 3px;
}

[class~='l-4px'] {
  left: 4px;
}

[class~='l-5px'] {
  left: 5px;
}

[class~='l-6px'] {
  left: 6px;
}

[class~='l-1'] {
  left: 1rem;
}

[class~='l-2'] {
  left: 2rem;
}

[class~='l-3'] {
  left: 3rem;
}

[class~='l-4'] {
  left: 4rem;
}

[class~='l-5'] {
  left: 5rem;
}

[class~='l-6'] {
  left: 6rem;
}

[class~='safe:l-0'] {
  left: 0;
  left: max(0%, env(safe-area-inset-left));
}

[class~='safe:l-1/10'] {
  left: 10%;
  left: max(10%, env(safe-area-inset-left));
}

[class~='safe:l-3/10'] {
  left: 30%;
  left: max(30%, env(safe-area-inset-left));
}

[class~='safe:l-1/2'] {
  left: 50%;
  left: max(50%, env(safe-area-inset-left));
}

[class~='safe:l-7/10'] {
  left: 70%;
  left: max(70%, env(safe-area-inset-left));
}

[class~='safe:l-9/10'] {
  left: 90%;
  left: max(90%, env(safe-area-inset-left));
}

[class~='safe:l-1/4'] {
  left: 25%;
  left: max(25%, env(safe-area-inset-left));
}

[class~='safe:l-3/4'] {
  left: 75%;
  left: max(75%, env(safe-area-inset-left));
}

[class~='safe:l-1/3'] {
  left: 33.333333%;
  left: max(33.333333%, env(safe-area-inset-left));
}

[class~='safe:l-2/3'] {
  left: 66.666666%;
  left: max(66.666666%, env(safe-area-inset-left));
}

[class~='safe:l-1/5'] {
  left: 20%;
  left: max(20%, env(safe-area-inset-left));
}

[class~='safe:l-2/5'] {
  left: 40%;
  left: max(40%, env(safe-area-inset-left));
}

[class~='safe:l-3/5'] {
  left: 60%;
  left: max(60%, env(safe-area-inset-left));
}

[class~='safe:l-4/5'] {
  left: 80%;
  left: max(80%, env(safe-area-inset-left));
}

[class~='safe:l-max'] {
  left: 100%;
  left: max(100%, env(safe-area-inset-left));
}

[class~='safe:l-1px'] {
  left: 1px;
  left: max(1px, env(safe-area-inset-left));
}

[class~='safe:l-2px'] {
  left: 2px;
  left: max(2px, env(safe-area-inset-left));
}

[class~='safe:l-3px'] {
  left: 3px;
  left: max(3px, env(safe-area-inset-left));
}

[class~='safe:l-4px'] {
  left: 4px;
  left: max(4px, env(safe-area-inset-left));
}

[class~='safe:l-5px'] {
  left: 5px;
  left: max(5px, env(safe-area-inset-left));
}

[class~='safe:l-6px'] {
  left: 6px;
  left: max(6px, env(safe-area-inset-left));
}

[class~='safe:l-1'] {
  left: 1rem;
  left: max(1rem, env(safe-area-inset-left));
}

[class~='safe:l-2'] {
  left: 2rem;
  left: max(2rem, env(safe-area-inset-left));
}

[class~='safe:l-3'] {
  left: 3rem;
  left: max(3rem, env(safe-area-inset-left));
}

[class~='safe:l-4'] {
  left: 4rem;
  left: max(4rem, env(safe-area-inset-left));
}

[class~='safe:l-5'] {
  left: 5rem;
  left: max(5rem, env(safe-area-inset-left));
}

[class~='safe:l-6'] {
  left: 6rem;
  left: max(6rem, env(safe-area-inset-left));
}
