.h-auto {
  height: auto;
}

.h-0 {
  height: 0;
}

.h-1\/10 {
  height: 10%;
}

.h-3\/10 {
  height: 30%;
}

.h-1\/2 {
  height: 50%;
}

.h-7\/10 {
  height: 70%;
}

.h-9\/10 {
  height: 90%;
}

.h-1\/4 {
  height: 25%;
}

.h-3\/4 {
  height: 75%;
}

.h-1\/3 {
  height: 33.333333%;
}

.h-2\/3 {
  height: 66.666666%;
}

.h-1\/5 {
  height: 20%;
}

.h-2\/5 {
  height: 40%;
}

.h-3\/5 {
  height: 60%;
}

.h-4\/5 {
  height: 80%;
}

.h-max {
  height: 100%;
}

.h-1px {
  height: 1px;
}

.h-2px {
  height: 2px;
}

.h-3px {
  height: 3px;
}

.h-4px {
  height: 4px;
}

.h-5px {
  height: 5px;
}

.h-6px {
  height: 6px;
}

.h-7px {
  height: 7px;
}

.h-8px {
  height: 8px;
}

.h-9px {
  height: 9px;
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.h-7 {
  height: 7rem;
}

.h-8 {
  height: 8rem;
}

.h-9 {
  height: 9rem;
}

.h-10 {
  height: 10rem;
}

.h-20 {
  height: 20rem;
}

.h-30 {
  height: 30rem;
}

.h-40 {
  height: 40rem;
}

.h-50 {
  height: 50rem;
}

.h-60 {
  height: 60rem;
}

.h-70 {
  height: 70rem;
}

.h-80 {
  height: 80rem;
}

.h-90 {
  height: 90rem;
}

.h-100 {
  height: 100rem;
}

.hmin-0 {
  min-height: 0;
}

.hmin-1\/10 {
  min-height: 10%;
}

.hmin-3\/10 {
  min-height: 30%;
}

.hmin-1\/2 {
  min-height: 50%;
}

.hmin-7\/10 {
  min-height: 70%;
}

.hmin-9\/10 {
  min-height: 90%;
}

.hmin-1\/4 {
  min-height: 25%;
}

.hmin-3\/4 {
  min-height: 75%;
}

.hmin-1\/3 {
  min-height: 33.333333%;
}

.hmin-2\/3 {
  min-height: 66.666666%;
}

.hmin-1\/5 {
  min-height: 20%;
}

.hmin-2\/5 {
  min-height: 40%;
}

.hmin-3\/5 {
  min-height: 60%;
}

.hmin-4\/5 {
  min-height: 80%;
}

.hmin-max {
  min-height: 100%;
}

.hmin-1px {
  min-height: 1px;
}

.hmin-2px {
  min-height: 2px;
}

.hmin-3px {
  min-height: 3px;
}

.hmin-4px {
  min-height: 4px;
}

.hmin-5px {
  min-height: 5px;
}

.hmin-6px {
  min-height: 6px;
}

.hmin-7px {
  min-height: 7px;
}

.hmin-8px {
  min-height: 8px;
}

.hmin-9px {
  min-height: 9px;
}

.hmin-1 {
  min-height: 1rem;
}

.hmin-2 {
  min-height: 2rem;
}

.hmin-3 {
  min-height: 3rem;
}

.hmin-4 {
  min-height: 4rem;
}

.hmin-5 {
  min-height: 5rem;
}

.hmin-6 {
  min-height: 6rem;
}

.hmin-7 {
  min-height: 7rem;
}

.hmin-8 {
  min-height: 8rem;
}

.hmin-9 {
  min-height: 9rem;
}

.hmin-10 {
  min-height: 10rem;
}

.hmin-20 {
  min-height: 20rem;
}

.hmin-30 {
  min-height: 30rem;
}

.hmin-40 {
  min-height: 40rem;
}

.hmin-50 {
  min-height: 50rem;
}

.hmin-60 {
  min-height: 60rem;
}

.hmin-70 {
  min-height: 70rem;
}

.hmin-80 {
  min-height: 80rem;
}

.hmin-90 {
  min-height: 90rem;
}

.hmin-100 {
  min-height: 100rem;
}

.hmax-0 {
  max-height: 0;
}

.hmax-1\/10 {
  max-height: 10%;
}

.hmax-3\/10 {
  max-height: 30%;
}

.hmax-1\/2 {
  max-height: 50%;
}

.hmax-7\/10 {
  max-height: 70%;
}

.hmax-9\/10 {
  max-height: 90%;
}

.hmax-1\/4 {
  max-height: 25%;
}

.hmax-3\/4 {
  max-height: 75%;
}

.hmax-1\/3 {
  max-height: 33.333333%;
}

.hmax-2\/3 {
  max-height: 66.666666%;
}

.hmax-1\/5 {
  max-height: 20%;
}

.hmax-2\/5 {
  max-height: 40%;
}

.hmax-3\/5 {
  max-height: 60%;
}

.hmax-4\/5 {
  max-height: 80%;
}

.hmax-max {
  max-height: 100%;
}

.hmax-1px {
  max-height: 1px;
}

.hmax-2px {
  max-height: 2px;
}

.hmax-3px {
  max-height: 3px;
}

.hmax-4px {
  max-height: 4px;
}

.hmax-5px {
  max-height: 5px;
}

.hmax-6px {
  max-height: 6px;
}

.hmax-7px {
  max-height: 7px;
}

.hmax-8px {
  max-height: 8px;
}

.hmax-9px {
  max-height: 9px;
}

.hmax-1 {
  max-height: 1rem;
}

.hmax-2 {
  max-height: 2rem;
}

.hmax-3 {
  max-height: 3rem;
}

.hmax-4 {
  max-height: 4rem;
}

.hmax-5 {
  max-height: 5rem;
}

.hmax-6 {
  max-height: 6rem;
}

.hmax-7 {
  max-height: 7rem;
}

.hmax-8 {
  max-height: 8rem;
}

.hmax-9 {
  max-height: 9rem;
}

.hmax-10 {
  max-height: 10rem;
}

.hmax-20 {
  max-height: 20rem;
}

.hmax-30 {
  max-height: 30rem;
}

.hmax-40 {
  max-height: 40rem;
}

.hmax-50 {
  max-height: 50rem;
}

.hmax-60 {
  max-height: 60rem;
}

.hmax-70 {
  max-height: 70rem;
}

.hmax-80 {
  max-height: 80rem;
}

.hmax-90 {
  max-height: 90rem;
}

.hmax-100 {
  max-height: 100rem;
}
