.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-1px {
  margin: 1px;
}

.m-2px {
  margin: 2px;
}

.m-3px {
  margin: 3px;
}

.m-4px {
  margin: 4px;
}

.m-5px {
  margin: 5px;
}

.m-6px {
  margin: 6px;
}

.m-7px {
  margin: 7px;
}

.m-8px {
  margin: 8px;
}

.m-9px {
  margin: 9px;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.safe\:m-0 {
  margin: 0;
  margin-top: max(0%, env(safe-area-inset-top));
  margin-right: max(0%, env(safe-area-inset-right));
  margin-bottom: max(0%, env(safe-area-inset-bottom));
  margin-left: max(0%, env(safe-area-inset-left));
}

.safe\:m-1px {
  margin: 1px;
  margin-top: max(1px, env(safe-area-inset-top));
  margin-right: max(1px, env(safe-area-inset-right));
  margin-bottom: max(1px, env(safe-area-inset-bottom));
  margin-left: max(1px, env(safe-area-inset-left));
}

.safe\:m-2px {
  margin: 2px;
  margin-top: max(2px, env(safe-area-inset-top));
  margin-right: max(2px, env(safe-area-inset-right));
  margin-bottom: max(2px, env(safe-area-inset-bottom));
  margin-left: max(2px, env(safe-area-inset-left));
}

.safe\:m-3px {
  margin: 3px;
  margin-top: max(3px, env(safe-area-inset-top));
  margin-right: max(3px, env(safe-area-inset-right));
  margin-bottom: max(3px, env(safe-area-inset-bottom));
  margin-left: max(3px, env(safe-area-inset-left));
}

.safe\:m-4px {
  margin: 4px;
  margin-top: max(4px, env(safe-area-inset-top));
  margin-right: max(4px, env(safe-area-inset-right));
  margin-bottom: max(4px, env(safe-area-inset-bottom));
  margin-left: max(4px, env(safe-area-inset-left));
}

.safe\:m-5px {
  margin: 5px;
  margin-top: max(5px, env(safe-area-inset-top));
  margin-right: max(5px, env(safe-area-inset-right));
  margin-bottom: max(5px, env(safe-area-inset-bottom));
  margin-left: max(5px, env(safe-area-inset-left));
}

.safe\:m-6px {
  margin: 6px;
  margin-top: max(6px, env(safe-area-inset-top));
  margin-right: max(6px, env(safe-area-inset-right));
  margin-bottom: max(6px, env(safe-area-inset-bottom));
  margin-left: max(6px, env(safe-area-inset-left));
}

.safe\:m-7px {
  margin: 7px;
  margin-top: max(7px, env(safe-area-inset-top));
  margin-right: max(7px, env(safe-area-inset-right));
  margin-bottom: max(7px, env(safe-area-inset-bottom));
  margin-left: max(7px, env(safe-area-inset-left));
}

.safe\:m-8px {
  margin: 8px;
  margin-top: max(8px, env(safe-area-inset-top));
  margin-right: max(8px, env(safe-area-inset-right));
  margin-bottom: max(8px, env(safe-area-inset-bottom));
  margin-left: max(8px, env(safe-area-inset-left));
}

.safe\:m-9px {
  margin: 9px;
  margin-top: max(9px, env(safe-area-inset-top));
  margin-right: max(9px, env(safe-area-inset-right));
  margin-bottom: max(9px, env(safe-area-inset-bottom));
  margin-left: max(9px, env(safe-area-inset-left));
}

.safe\:m-1 {
  margin: 1rem;
  margin-top: max(1rem, env(safe-area-inset-top));
  margin-right: max(1rem, env(safe-area-inset-right));
  margin-bottom: max(1rem, env(safe-area-inset-bottom));
  margin-left: max(1rem, env(safe-area-inset-left));
}

.safe\:m-2 {
  margin: 2rem;
  margin-top: max(2rem, env(safe-area-inset-top));
  margin-right: max(2rem, env(safe-area-inset-right));
  margin-bottom: max(2rem, env(safe-area-inset-bottom));
  margin-left: max(2rem, env(safe-area-inset-left));
}

.safe\:m-3 {
  margin: 3rem;
  margin-top: max(3rem, env(safe-area-inset-top));
  margin-right: max(3rem, env(safe-area-inset-right));
  margin-bottom: max(3rem, env(safe-area-inset-bottom));
  margin-left: max(3rem, env(safe-area-inset-left));
}

.safe\:m-4 {
  margin: 4rem;
  margin-top: max(4rem, env(safe-area-inset-top));
  margin-right: max(4rem, env(safe-area-inset-right));
  margin-bottom: max(4rem, env(safe-area-inset-bottom));
  margin-left: max(4rem, env(safe-area-inset-left));
}

.safe\:m-5 {
  margin: 5rem;
  margin-top: max(5rem, env(safe-area-inset-top));
  margin-right: max(5rem, env(safe-area-inset-right));
  margin-bottom: max(5rem, env(safe-area-inset-bottom));
  margin-left: max(5rem, env(safe-area-inset-left));
}

.safe\:m-6 {
  margin: 6rem;
  margin-top: max(6rem, env(safe-area-inset-top));
  margin-right: max(6rem, env(safe-area-inset-right));
  margin-bottom: max(6rem, env(safe-area-inset-bottom));
  margin-left: max(6rem, env(safe-area-inset-left));
}

.safe\:m-7 {
  margin: 7rem;
  margin-top: max(7rem, env(safe-area-inset-top));
  margin-right: max(7rem, env(safe-area-inset-right));
  margin-bottom: max(7rem, env(safe-area-inset-bottom));
  margin-left: max(7rem, env(safe-area-inset-left));
}

.safe\:m-8 {
  margin: 8rem;
  margin-top: max(8rem, env(safe-area-inset-top));
  margin-right: max(8rem, env(safe-area-inset-right));
  margin-bottom: max(8rem, env(safe-area-inset-bottom));
  margin-left: max(8rem, env(safe-area-inset-left));
}

.safe\:m-9 {
  margin: 9rem;
  margin-top: max(9rem, env(safe-area-inset-top));
  margin-right: max(9rem, env(safe-area-inset-right));
  margin-bottom: max(9rem, env(safe-area-inset-bottom));
  margin-left: max(9rem, env(safe-area-inset-left));
}

.mh-auto {
  margin-right: auto;
  margin-left: auto;
}

.mh-0 {
  margin-right: 0;
  margin-left: 0;
}

.mh-1px {
  margin-right: 1px;
  margin-left: 1px;
}

.mh-2px {
  margin-right: 2px;
  margin-left: 2px;
}

.mh-3px {
  margin-right: 3px;
  margin-left: 3px;
}

.mh-4px {
  margin-right: 4px;
  margin-left: 4px;
}

.mh-5px {
  margin-right: 5px;
  margin-left: 5px;
}

.mh-6px {
  margin-right: 6px;
  margin-left: 6px;
}

.mh-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mh-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mh-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mh-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.mh-5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.mh-6 {
  margin-right: 6rem;
  margin-left: 6rem;
}



.safe\:mh-0 {
  margin-right: max(0%, env(safe-area-inset-right));
  margin-left: max(0%, env(safe-area-inset-left));
}

.safe\:mh-1px {
  margin-right: max(1px, env(safe-area-inset-right));
  margin-left: max(1px, env(safe-area-inset-left));
}

.safe\:mh-2px {
  margin-right: max(2px, env(safe-area-inset-right));
  margin-left: max(2px, env(safe-area-inset-left));
}

.safe\:mh-3px {
  margin-right: max(3px, env(safe-area-inset-right));
  margin-left: max(3px, env(safe-area-inset-left));
}

.safe\:mh-4px {
  margin-right: max(4px, env(safe-area-inset-right));
  margin-left: max(4px, env(safe-area-inset-left));
}

.safe\:mh-5px {
  margin-right: max(5px, env(safe-area-inset-right));
  margin-left: max(5px, env(safe-area-inset-left));
}

.safe\:mh-6px {
  margin-right: max(6px, env(safe-area-inset-right));
  margin-left: max(6px, env(safe-area-inset-left));
}

.safe\:mh-1 {
  margin-right: max(1rem, env(safe-area-inset-right));
  margin-left: max(1rem, env(safe-area-inset-left));
}

.safe\:mh-2 {
  margin-right: max(2rem, env(safe-area-inset-right));
  margin-left: max(2rem, env(safe-area-inset-left));
}

.safe\:mh-3 {
  margin-right: max(3rem, env(safe-area-inset-right));
  margin-left: max(3rem, env(safe-area-inset-left));
}

.safe\:mh-4 {
  margin-right: max(4rem, env(safe-area-inset-right));
  margin-left: max(4rem, env(safe-area-inset-left));
}

.safe\:mh-5 {
  margin-right: max(5rem, env(safe-area-inset-right));
  margin-left: max(5rem, env(safe-area-inset-left));
}

.safe\:mh-6 {
  margin-right: max(6rem, env(safe-area-inset-right));
  margin-left: max(6rem, env(safe-area-inset-left));
}

.safe\:mh-7 {
  margin-right: max(7rem, env(safe-area-inset-right));
  margin-left: max(7rem, env(safe-area-inset-left));
}

.safe\:mh-8 {
  margin-right: max(8rem, env(safe-area-inset-right));
  margin-left: max(8rem, env(safe-area-inset-left));
}

.safe\:mh-9 {
  margin-right: max(9rem, env(safe-area-inset-right));
  margin-left: max(9rem, env(safe-area-inset-left));
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv-1px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mv-2px {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mv-3px {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mv-4px {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mv-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-6px {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mv-7px {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mv-8px {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mv-9px {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mv-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mv-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mv-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mv-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.mv-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mv-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.safe\:mv-0 {
  margin-top: max(0%, env(safe-area-inset-top));
  margin-bottom: max(0%, env(safe-area-inset-bottom));
}

.safe\:mv-1px {
  margin-top: max(1px, env(safe-area-inset-top));
  margin-bottom: max(1px, env(safe-area-inset-bottom));
}

.safe\:mv-2px {
  margin-top: max(2px, env(safe-area-inset-top));
  margin-bottom: max(2px, env(safe-area-inset-bottom));
}

.safe\:mv-3px {
  margin-top: max(3px, env(safe-area-inset-top));
  margin-bottom: max(3px, env(safe-area-inset-bottom));
}

.safe\:mv-4px {
  margin-top: max(4px, env(safe-area-inset-top));
  margin-bottom: max(4px, env(safe-area-inset-bottom));
}

.safe\:mv-5px {
  margin-top: max(5px, env(safe-area-inset-top));
  margin-bottom: max(5px, env(safe-area-inset-bottom));
}

.safe\:mv-6px {
  margin-top: max(6px, env(safe-area-inset-top));
  margin-bottom: max(6px, env(safe-area-inset-bottom));
}

.safe\:mv-7px {
  margin-top: max(7px, env(safe-area-inset-top));
  margin-bottom: max(7px, env(safe-area-inset-bottom));
}

.safe\:mv-8px {
  margin-top: max(8px, env(safe-area-inset-top));
  margin-bottom: max(8px, env(safe-area-inset-bottom));
}

.safe\:mv-9px {
  margin-top: max(9px, env(safe-area-inset-top));
  margin-bottom: max(9px, env(safe-area-inset-bottom));
}

.safe\:mv-1 {
  margin-top: max(1rem, env(safe-area-inset-top));
  margin-bottom: max(1rem, env(safe-area-inset-bottom));
}

.safe\:mv-2 {
  margin-top: max(2rem, env(safe-area-inset-top));
  margin-bottom: max(2rem, env(safe-area-inset-bottom));
}

.safe\:mv-3 {
  margin-top: max(3rem, env(safe-area-inset-top));
  margin-bottom: max(3rem, env(safe-area-inset-bottom));
}

.safe\:mv-4 {
  margin-top: max(4rem, env(safe-area-inset-top));
  margin-bottom: max(4rem, env(safe-area-inset-bottom));
}

.safe\:mv-5 {
  margin-top: max(5rem, env(safe-area-inset-top));
  margin-bottom: max(5rem, env(safe-area-inset-bottom));
}

.safe\:mv-6 {
  margin-top: max(6rem, env(safe-area-inset-top));
  margin-bottom: max(6rem, env(safe-area-inset-bottom));
}

.safe\:mv-7 {
  margin-top: max(7rem, env(safe-area-inset-top));
  margin-bottom: max(7rem, env(safe-area-inset-bottom));
}

.safe\:mv-8 {
  margin-top: max(8rem, env(safe-area-inset-top));
  margin-bottom: max(8rem, env(safe-area-inset-bottom));
}

.safe\:mv-9 {
  margin-top: max(9rem, env(safe-area-inset-top));
  margin-bottom: max(9rem, env(safe-area-inset-bottom));
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1px {
  margin-top: 1px;
}

.mt-2px {
  margin-top: 2px;
}

.mt-3px {
  margin-top: 3px;
}

.mt-4px {
  margin-top: 4px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-6px {
  margin-top: 6px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.safe\:mt-0 {
  margin-top: max(0%, env(safe-area-inset-top));
}

.safe\:mt-1px {
  margin-top: max(1px, env(safe-area-inset-top));
}

.safe\:mt-2px {
  margin-top: max(2px, env(safe-area-inset-top));
}

.safe\:mt-3px {
  margin-top: max(3px, env(safe-area-inset-top));
}

.safe\:mt-4px {
  margin-top: max(4px, env(safe-area-inset-top));
}

.safe\:mt-5px {
  margin-top: max(5px, env(safe-area-inset-top));
}

.safe\:mt-6px {
  margin-top: max(6px, env(safe-area-inset-top));
}

.safe\:mt-7px {
  margin-top: max(7px, env(safe-area-inset-top));
}

.safe\:mt-8px {
  margin-top: max(8px, env(safe-area-inset-top));
}

.safe\:mt-9px {
  margin-top: max(9px, env(safe-area-inset-top));
}

.safe\:mt-1 {
  margin-top: max(1rem, env(safe-area-inset-top));
}

.safe\:mt-2 {
  margin-top: max(2rem, env(safe-area-inset-top));
}

.safe\:mt-3 {
  margin-top: max(3rem, env(safe-area-inset-top));
}

.safe\:mt-4 {
  margin-top: max(4rem, env(safe-area-inset-top));
}

.safe\:mt-5 {
  margin-top: max(5rem, env(safe-area-inset-top));
}

.safe\:mt-6 {
  margin-top: max(6rem, env(safe-area-inset-top));
}

.safe\:mt-7 {
  margin-top: max(7rem, env(safe-area-inset-top));
}

.safe\:mt-8 {
  margin-top: max(8rem, env(safe-area-inset-top));
}

.safe\:mt-9 {
  margin-top: max(9rem, env(safe-area-inset-top));
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1px {
  margin-right: 1px;
}

.mr-2px {
  margin-right: 2px;
}

.mr-3px {
  margin-right: 3px;
}

.mr-4px {
  margin-right: 4px;
}

.mr-5px {
  margin-right: 5px;
}

.mr-6px {
  margin-right: 6px;
}

.mr-7px {
  margin-right: 7px;
}

.mr-8x {
  margin-right: 8px;
}

.mr-9px {
  margin-right: 9px;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.safe\:mr-0 {
  margin-right: max(0%, env(safe-area-inset-right));
}

.safe\:mr-1px {
  margin-right: max(1px, env(safe-area-inset-right));
}

.safe\:mr-2px {
  margin-right: max(2px, env(safe-area-inset-right));
}

.safe\:mr-3px {
  margin-right: max(3px, env(safe-area-inset-right));
}

.safe\:mr-4px {
  margin-right: max(4px, env(safe-area-inset-right));
}

.safe\:mr-5px {
  margin-right: max(5px, env(safe-area-inset-right));
}

.safe\:mr-6px {
  margin-right: max(6px, env(safe-area-inset-right));
}

.safe\:mr-7px {
  margin-right: max(7px, env(safe-area-inset-right));
}

.safe\:mr-8px {
  margin-right: max(8px, env(safe-area-inset-right));
}

.safe\:mr-9px {
  margin-right: max(9px, env(safe-area-inset-right));
}

.safe\:mr-1 {
  margin-right: max(1rem, env(safe-area-inset-right));
}

.safe\:mr-2 {
  margin-right: max(2rem, env(safe-area-inset-right));
}

.safe\:mr-3 {
  margin-right: max(3rem, env(safe-area-inset-right));
}

.safe\:mr-4 {
  margin-right: max(4rem, env(safe-area-inset-right));
}

.safe\:mr-5 {
  margin-right: max(5rem, env(safe-area-inset-right));
}

.safe\:mr-6 {
  margin-right: max(6rem, env(safe-area-inset-right));
}

.safe\:mr-7 {
  margin-right: max(7rem, env(safe-area-inset-right));
}

.safe\:mr-8 {
  margin-right: max(8rem, env(safe-area-inset-right));
}

.safe\:mr-9 {
  margin-right: max(9rem, env(safe-area-inset-right));
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1px {
  margin-bottom: 1px;
}

.mb-2px {
  margin-bottom: 2px;
}

.mb-3px {
  margin-bottom: 3px;
}

.mb-4px {
  margin-bottom: 4px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-6px {
  margin-bottom: 6px;
}

.mb-7px {
  margin-bottom: 7px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-9px {
  margin-bottom: 9px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.safe\:mb-0 {
  margin-bottom: max(0%, env(safe-area-inset-bottom));
}

.safe\:mb-1px {
  margin-bottom: max(1px, env(safe-area-inset-bottom));
}

.safe\:mb-2px {
  margin-bottom: max(2px, env(safe-area-inset-bottom));
}

.safe\:mb-3px {
  margin-bottom: max(3px, env(safe-area-inset-bottom));
}

.safe\:mb-4px {
  margin-bottom: max(4px, env(safe-area-inset-bottom));
}

.safe\:mb-5px {
  margin-bottom: max(5px, env(safe-area-inset-bottom));
}

.safe\:mb-6px {
  margin-bottom: max(6px, env(safe-area-inset-bottom));
}

.safe\:mb-7px {
  margin-bottom: max(7px, env(safe-area-inset-bottom));
}

.safe\:mb-8px {
  margin-bottom: max(8px, env(safe-area-inset-bottom));
}

.safe\:mb-9px {
  margin-bottom: max(9px, env(safe-area-inset-bottom));
}

.safe\:mb-1 {
  margin-bottom: max(1rem, env(safe-area-inset-bottom));
}

.safe\:mb-2 {
  margin-bottom: max(2rem, env(safe-area-inset-bottom));
}

.safe\:mb-3 {
  margin-bottom: max(3rem, env(safe-area-inset-bottom));
}

.safe\:mb-4 {
  margin-bottom: max(4rem, env(safe-area-inset-bottom));
}

.safe\:mb-5 {
  margin-bottom: max(5rem, env(safe-area-inset-bottom));
}

.safe\:mb-6 {
  margin-bottom: max(6rem, env(safe-area-inset-bottom));
}

.safe\:mb-7 {
  margin-bottom: max(7rem, env(safe-area-inset-bottom));
}

.safe\:mb-8 {
  margin-bottom: max(8rem, env(safe-area-inset-bottom));
}

.safe\:mb-9 {
  margin-bottom: max(9rem, env(safe-area-inset-bottom));
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1px {
  margin-left: 1px;
}

.ml-2px {
  margin-left: 2px;
}

.ml-3px {
  margin-left: 3px;
}

.ml-4px {
  margin-left: 4px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-6px {
  margin-left: 6px;
}

.ml-7px {
  margin-left: 7px;
}

.ml-8px {
  margin-left: 8px;
}

.ml-9px {
  margin-left: 9px;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.safe\:ml-0 {
  margin-left: max(0%, env(safe-area-inset-left));
}

.safe\:ml-1px {
  margin-left: max(1px, env(safe-area-inset-left));
}

.safe\:ml-2px {
  margin-left: max(2px, env(safe-area-inset-left));
}

.safe\:ml-3px {
  margin-left: max(3px, env(safe-area-inset-left));
}

.safe\:ml-4px {
  margin-left: max(4px, env(safe-area-inset-left));
}

.safe\:ml-5px {
  margin-left: max(5px, env(safe-area-inset-left));
}

.safe\:ml-6px {
  margin-left: max(6px, env(safe-area-inset-left));
}

.safe\:ml-7px {
  margin-left: max(7px, env(safe-area-inset-left));
}

.safe\:ml-8px {
  margin-left: max(8px, env(safe-area-inset-left));
}

.safe\:ml-9px {
  margin-left: max(9px, env(safe-area-inset-left));
}

.safe\:ml-1 {
  margin-left: max(1rem, env(safe-area-inset-left));
}

.safe\:ml-2 {
  margin-left: max(2rem, env(safe-area-inset-left));
}

.safe\:ml-3 {
  margin-left: max(3rem, env(safe-area-inset-left));
}

.safe\:ml-4 {
  margin-left: max(4rem, env(safe-area-inset-left));
}

.safe\:ml-5 {
  margin-left: max(5rem, env(safe-area-inset-left));
}

.safe\:ml-6 {
  margin-left: max(6rem, env(safe-area-inset-left));
}

.safe\:ml-7 {
  margin-left: max(7rem, env(safe-area-inset-left));
}

.safe\:ml-8 {
  margin-left: max(8rem, env(safe-area-inset-left));
}

.safe\:ml-9 {
  margin-left: max(9rem, env(safe-area-inset-left));
}
