.hspace-0>*+* {
  margin-left: 0;
}

.hspace-1px>*+* {
  margin-left: 1px;
}

.hspace-2px>*+* {
  margin-left: 2px;
}

.hspace-3px>*+* {
  margin-left: 3px;
}

.hspace-4px>*+* {
  margin-left: 4px;
}

.hspace-5px>*+* {
  margin-left: 5px;
}

.hspace-6px>*+* {
  margin-left: 6px;
}

.hspace-7px>*+* {
  margin-left: 7px;
}

.hspace-8px>*+* {
  margin-left: 8px;
}

.hspace-9px>*+* {
  margin-left: 9px;
}

.hspace-1>*+* {
  margin-left: 1rem;
}

.hspace-2>*+* {
  margin-left: 2rem;
}

.hspace-3>*+* {
  margin-left: 3rem;
}

.hspace-4>*+* {
  margin-left: 4rem;
}

.hspace-5>*+* {
  margin-left: 5rem;
}

.hspace-6>*+* {
  margin-left: 6rem;
}

.hspace-7>*+* {
  margin-left: 7rem;
}

.hspace-8>*+* {
  margin-left: 8rem;
}

.hspace-9>*+* {
  margin-left: 9rem;
}

.vspace-0>*+* {
  margin-top: 0;
}

.vspace-1px>*+* {
  margin-top: 1px;
}

.vspace-2px>*+* {
  margin-top: 2px;
}

.vspace-3px>*+* {
  margin-top: 3px;
}

.vspace-4px>*+* {
  margin-top: 4px;
}

.vspace-5px>*+* {
  margin-top: 5px;
}

.vspace-6px>*+* {
  margin-top: 6px;
}

.vspace-7px>*+* {
  margin-top: 7px;
}

.vspace-8px>*+* {
  margin-top: 8px;
}

.vspace-9px>*+* {
  margin-top: 9px;
}

.vspace-1>*+* {
  margin-top: 1rem;
}

.vspace-2>*+* {
  margin-top: 2rem;
}

.vspace-3>*+* {
  margin-top: 3rem;
}

.vspace-4>*+* {
  margin-top: 4rem;
}

.vspace-5>*+* {
  margin-top: 5rem;
}

.vspace-6>*+* {
  margin-top: 6rem;
}

.vspace-7>*+* {
  margin-top: 7rem;
}

.vspace-8>*+* {
  margin-top: 8rem;
}

.vspace-9>*+* {
  margin-top: 9rem;
}
