.w-auto {
  width: auto;
}

.w-0 {
  width: 0;
}

.w-1\/10 {
  width: 10%;
}

.w-3\/10 {
  width: 30%;
}

.w-1\/2 {
  width: 50%;
}

.w-7\/10 {
  width: 70%;
}

.w-9\/10 {
  width: 90%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666666%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-max {
  width: 100%;
}

.w-1px {
  width: 1px;
}

.w-2px {
  width: 2px;
}

.w-3px {
  width: 3px;
}

.w-4px {
  width: 4px;
}

.w-5px {
  width: 5px;
}

.w-6px {
  width: 6px;
}

.w-7px {
  width: 7px;
}

.w-8px {
  width: 8px;
}

.w-9px {
  width: 9px;
}

.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.w-8 {
  width: 8rem;
}

.w-9 {
  width: 9rem;
}

.w-10 {
  width: 10rem;
}

.w-20 {
  width: 20rem;
}

.w-30 {
  width: 30rem;
}

.w-40 {
  width: 40rem;
}

.w-50 {
  width: 50rem;
}

.w-60 {
  width: 60rem;
}

.w-70 {
  width: 70rem;
}

.w-80 {
  width: 80rem;
}

.w-90 {
  width: 90rem;
}

.w-100 {
  width: 100rem;
}

.wmin-0 {
  min-width: 0;
}

.wmin-1\/10 {
  min-width: 10%;
}

.wmin-3\/10 {
  min-width: 30%;
}

.wmin-1\/2 {
  min-width: 50%;
}

.wmin-7\/10 {
  min-width: 70%;
}

.wmin-9\/10 {
  min-width: 90%;
}

.wmin-1\/4 {
  min-width: 25%;
}

.wmin-3\/4 {
  min-width: 75%;
}

.wmin-1\/3 {
  min-width: 33.333333%;
}

.wmin-2\/3 {
  min-width: 66.666666%;
}

.wmin-1\/5 {
  min-width: 20%;
}

.wmin-2\/5 {
  min-width: 40%;
}

.wmin-3\/5 {
  min-width: 60%;
}

.wmin-4\/5 {
  min-width: 80%;
}

.wmin-max {
  min-width: 100%;
}

.wmin-1px {
  min-width: 1px;
}

.wmin-2px {
  min-width: 2px;
}

.wmin-3px {
  min-width: 3px;
}

.wmin-4px {
  min-width: 4px;
}

.wmin-5px {
  min-width: 5px;
}

.wmin-6px {
  min-width: 6px;
}

.wmin-7px {
  min-width: 7px;
}

.wmin-8px {
  min-width: 8px;
}

.wmin-9px {
  min-width: 9px;
}

.wmin-1 {
  min-width: 1rem;
}

.wmin-2 {
  min-width: 2rem;
}

.wmin-3 {
  min-width: 3rem;
}

.wmin-4 {
  min-width: 4rem;
}

.wmin-5 {
  min-width: 5rem;
}

.wmin-6 {
  min-width: 6rem;
}

.wmin-7 {
  min-width: 7rem;
}

.wmin-8 {
  min-width: 8rem;
}

.wmin-9 {
  min-width: 9rem;
}

.wmin-10 {
  min-width: 10rem;
}

.wmin-20 {
  min-width: 20rem;
}

.wmin-30 {
  min-width: 30rem;
}

.wmin-40 {
  min-width: 40rem;
}

.wmin-50 {
  min-width: 50rem;
}

.wmin-60 {
  min-width: 60rem;
}

.wmin-70 {
  min-width: 70rem;
}

.wmin-80 {
  min-width: 80rem;
}

.wmin-90 {
  min-width: 90rem;
}

.wmin-100 {
  min-width: 100rem;
}

.wmax-0 {
  max-width: 0;
}

.wmax-1\/10 {
  max-width: 10%;
}

.wmax-3\/10 {
  max-width: 30%;
}

.wmax-1\/2 {
  max-width: 50%;
}

.wmax-7\/10 {
  max-width: 70%;
}

.wmax-9\/10 {
  max-width: 90%;
}

.wmax-1\/4 {
  max-width: 25%;
}

.wmax-3\/4 {
  max-width: 75%;
}

.wmax-1\/3 {
  max-width: 33.333333%;
}

.wmax-2\/3 {
  max-width: 66.666666%;
}

.wmax-1\/5 {
  max-width: 20%;
}

.wmax-2\/5 {
  max-width: 40%;
}

.wmax-3\/5 {
  max-width: 60%;
}

.wmax-4\/5 {
  max-width: 80%;
}

.wmax-max {
  max-width: 100%;
}

.wmax-1px {
  max-width: 1px;
}

.wmax-2px {
  max-width: 2px;
}

.wmax-3px {
  max-width: 3px;
}

.wmax-4px {
  max-width: 4px;
}

.wmax-5px {
  max-width: 5px;
}

.wmax-6px {
  max-width: 6px;
}

.wmax-7px {
  max-width: 7px;
}

.wmax-8px {
  max-width: 8px;
}

.wmax-9px {
  max-width: 9px;
}

.wmax-1 {
  max-width: 1rem;
}

.wmax-2 {
  max-width: 2rem;
}

.wmax-3 {
  max-width: 3rem;
}

.wmax-4 {
  max-width: 4rem;
}

.wmax-5 {
  max-width: 5rem;
}

.wmax-6 {
  max-width: 6rem;
}

.wmax-7 {
  max-width: 7rem;
}

.wmax-8 {
  max-width: 8rem;
}

.wmax-9 {
  max-width: 9rem;
}

.wmax-10 {
  max-width: 10rem;
}

.wmax-20 {
  max-width: 20rem;
}

.wmax-30 {
  max-width: 30rem;
}

.wmax-40 {
  max-width: 40rem;
}

.wmax-50 {
  max-width: 50rem;
}

.wmax-60 {
  max-width: 60rem;
}

.wmax-70 {
  max-width: 70rem;
}

.wmax-80 {
  max-width: 80rem;
}

.wmax-90 {
  max-width: 90rem;
}

.wmax-100 {
  max-width: 100rem;
}
